<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Responsive Navbar | CodingNepal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/basestyle.css">
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">DoctorBot</label>
      <ul>
        <li><a class="{{activehome}}" href="/">Home</a></li>
        <li><a class="{{activeproduct}}" href="/product">Product</a></li>
        <li><a class="{{activeabout}}" href="/about_us">About Us</a></li>
        <li><a class="{{webapp}}" href="/webapp">WebApp</a></li>
      </ul>
    </nav>
    {% block body %}
    {% endblock %}
  </body>
</html>